<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<resultMap type="Board" id="boardResultSet">
		<id column="BOARD_ID" property="boardId"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="USER_ID" property="userId"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="IS_NOTICE" property="isNotice"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="Attachment" id="attmResultSet">
		<id column="FILE_ID" property="fileId"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="RAWFILE_NAME" property="rawname"/>
		<result column="EDITFILE_NAME" property="rename"/>
		<result column="FILE_ROUTE" property="fileRoute"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="BOARD_ID" property="boardId"/>
		<result column="IS_THUM" property="isThum"/>
	</resultMap>
	
	<resultMap type="Used" id="usedResultSet">
		<id column="BOARD_ID" property="boardId"/>
		<result column="PRODUCT_CATE" property="productCate"/>
		<result column="LOCAL" property="local"/>
		<result column="STATUS" property="status"/>
		<result column="PRICE" property="price"/>
	</resultMap>
	
	<resultMap type="Like" id="likeResultSet">
		<id column="BOARD_ID" property="boardId"/>
		<id column="USER_ID" property="userId"/>
	</resultMap>
	
	
	<insert id="insertBoard">
		insert into board values(seq_bid.nextval, #{boardCode}, #{boardTitle}, #{boardContent}, #{userId},
													sysdate, sysdate, default, default, default)
	</insert>
	
	<insert id="insertAttm">
		<if test="list != null">  <!--  수정한 부분 -->
			insert all
			<foreach collection="list" item="item">
			 into attachment 
			 values(new_fid, sysdate, #{item.rawname}, #{item.rename}, #{item.fileRoute}, #{item.boardCode}, 
			<if test="item.boardId != 0">
				#{item.boardId},
			</if>
			<if test="item.boardId == 0">
				 seq_bid.currval, 
			</if>
			 #{item.isThum})
			</foreach>
			select * from dual
		</if>
	</insert>
	
	<insert id="insertUsed">
		insert into board_used
		values(seq_bid.currval, #{productCate}, #{local}, default, #{price})
	</insert>
	
	<select id="selectUsedList" resultMap="boardResultSet">
		select * from board where board_code = #{i} and status = 'Y'
		order by board_id desc
	</select>
	
	<select id="selectUsedDetailList" resultMap="usedResultSet">
		select * from board_used where status = 'Y' order by board_id desc
	</select>
	
	<select id="selectAttmList" resultMap="attmResultSet">
		select * from attachment where
		<if test="bId == null">
			is_thum = 'Y'
		</if>
		<if test="bId != null">
			board_id = #{bId}
		</if>
		order by file_id asc
	</select>
	
	<update id="addCount">
		update board set board_count = board_count + 1 where board_id = #{bId}
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet">
		select * from board where board_id = #{bId}
		
	</select>
	
	<select id="selectUsed" resultMap="usedResultSet">
		select * from board_used where board_id = #{bId}
	</select>
	
	<select id="isLike" resultType="_int">
		select count(*) from board_like where board_id = #{boardId} and user_id = #{userId}
	</select>
	
	<insert id="addLike">
		insert into board_like values(#{ userId }, #{ boardId })
	</insert>
	
	<delete id="deleteLike">
		delete from board_like where user_id = #{userId} and board_id = #{boardId}
	</delete>
	
	<select id="selectLikeCount" resultType="_int">
		select count(*) from board_like where board_id = #{boardId}
	</select>
	
	<update id="deleteBoard">
		update board set status = 'N' where board_id = #{boardId}
	</update>
	
	<update id="deleteUsed">
		update board_used set status = 'N' where board_id = #{boardId}
	</update>
	
	<select id="searchUsed" resultMap="boardResultSet">
		select * from board join board_used using(board_id) where
		<if test="local != null">
			local = #{local}
			<if test="category != null">
				and product_cate = #{category}
				<if test="word != null">
					<if test="searchWhere == 'boardContent'">
						and board_content like '%' || #{word} || '%'
					</if>
					<if test="searchWhere == 'boardTitle'">
						and board_title like '%' || #{word} || '%'
					</if>
				</if>
			</if>
			<if test="category == null">
				<if test="word != null">
					<if test="searchWhere == 'boardContent'">
						and board_content like '%' || #{word} || '%'
					</if>
					<if test="searchWhere == 'boardTitle'">
						and board_title like '%' || #{word} || '%'
					</if>
				</if>
			</if>
		</if>
		<if test="local == null">
			<if test="category != null">
				product_cate = #{category}
				<if test="word != null">
					<if test="searchWhere == 'boardContent'" >
						and board_content like '%' || #{word} || '%'
					</if>
					<if test="searchWhere == 'boardTitle'">
						and board_title like '%' || #{word} || '%'
					</if>
				</if>
			</if>
			<if test="category == null">
				<if test="word != null">
					<if test="searchWhere == 'boardContent'">
						 board_content like '%' || #{word} || '%'
					</if>
					<if test="searchWhere == 'boardTitle'">
						 board_title like '%' || #{word} || '%'
					</if>
				</if>
			</if>
		</if>
	</select>
	
	<delete id="deleteAttm">
		delete from attachment
		where editfile_name in
		<foreach collection="list" open="(" close=")" item="item" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<update id="updateIsThum">
		update attachment set
		is_thum = 'Y' where file_id = (select min(file_id) from attachment where board_id = #{boardId})
	</update>
	
	<update id="updateBoard">
		update board set board_title = #{boardTitle}, board_content = #{boardContent}, modify_date = sysdate
		where board_id = #{boardId}
	</update>
	
	<update id="updateUsed">
		update board_used set product_cate = #{productCate}, local = #{local}, price = #{price} where board_id = #{boardId}
	</update>
	
<!-- 	여기서부터 팁 부분 -->
	
	<resultMap type="Tip"  id="tipResultSet">
		<id column="BOARD_ID" property="boardId"/>
		<result column="TIP_CATE" property="tipCate"/>
	</resultMap> 
	
	<insert id="insertTip">
		insert into board_tip values(seq_bid.currval, #{category})
	</insert>
	
	<select id="selectBoardList" resultMap="boardResultSet">
		select * from board where board_code = #{i} and status = 'Y'
		order by board_id desc
	</select>

	<select id="selectTipList" resultMap="tipResultSet">
		select * from board_tip
	</select>
	
	<select id="getListCount" resultType="_int">
		select count(*) from board where board_code = #{i} and status = 'Y'
	</select>
	
	<select id="searchTip" resultMap="boardResultSet">
		select * from board join board_tip using(board_id) where
		<if test="category != null">
			tip_cate = #{category}
			<if test="word != null">
					<if test="searchWhere == 'boardContent'" >
						and board_content like '%' || #{word} || '%'
					</if>
					<if test="searchWhere == 'boardTitle'">
						and board_title like '%' || #{word} || '%'
					</if>
			</if>
		</if>
		<if test="category == null">
			<if test="word  != null">
					<if test="searchWhere == 'boardTitle'">
						 board_title like '%' || #{word} || '%'
					</if>
				<if test="searchWhere == 'boardContent'">
						 board_content like '%' || #{word} || '%'
					</if>
			</if>
		</if>
			and board_code = #{boardCode} and status = 'Y'
	</select>
	
	<select id="selectSearchTipList" resultMap="boardResultSet">
		select * from board join board_tip using(board_id) where
		<if test="category != null">
			tip_cate = #{category}
			<if test="word != null">
				<if test="searchWhere == boardTitle">
					and board_title = '%' || #{word} || '%'
				</if>
				<if test="searchWhere == boardContent">
					and board_content = '%' || #{word} || '%'
				</if>
			</if>
		</if>
		<if test="category == null">
			<if test="word  != null">
				<if test="searchWhere == 'boardContent'">
						 board_content like '%' || #{word} || '%'
					</if>
					<if test="searchWhere == 'boardTitle'">
						 board_title like '%' || #{word} || '%'
					</if>
			</if>
		</if>
			and board_code = #{boardCode} and status = 'Y'
	</select>
	
	<select id="selectTip" resultMap="tipResultSet">
		select * from board_tip where board_id = #{bId}
	</select>
	
	<update id="updateTip">
		update board_tip set tip_cate = #{tipCate} where board_id = #{boardId}
	</update>
	
	<delete id="deleteTip">
		delete from board_tip where board_id = #{boardId}
	</delete>
	
	<select id="selectNickName" resultType="string">
		select nickname from member where user_id = #{userId}
	</select>
	
	<resultMap type="Reply" id="replyResultSet">
		<id column="REPLY_ID" property="replyId"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="USER_ID" property="userId"/>
		<result column="NICKNAME" property="nickName"/>
		<result column="BOARD_ID" property="boardId"/>
	</resultMap>
	
	<insert id="insertReply">
		insert into reply values(seq_rid.nextval, #{replyContent}, sysdate, default, #{userId}, #{boardId})
	</insert>
	
	<select id="selectReply" resultMap="replyResultSet">
		select * from reply join member using(user_id) where board_id = #{boardId} order by create_date asc
	</select>
	
	<resultMap type="ReplyLike" id="replyLikeResultSet">
		<id column="REPLY_ID" property="replyId"/>
		<result column="USER_ID" property="userId"/>
	</resultMap>
	
	<select id="replyLikeCount" resultType="integer">
		select count(*) from reply_like where reply_id = #{replyId}
	</select>
	
	<select id="isReplyLikeList" resultType="integer">
		select count(*) from reply_like where user_id = #{userId} and reply_id = #{replyId}
	</select>
	
	<insert id="addReplyLike">
		insert into reply_like values(#{userId}, #{replyId})
	</insert>
	
	<delete id="deleteReplyLike">
		delete from reply_like where user_id = #{userId} and reply_id = #{replyId}
	</delete>
	
	<select id="boardLikeCount" resultType="integer">
		select count(*) from board_like where board_id = #{boardId}
	</select>
	
	<select id="isScrap" resultType="_int">
		select count(*) from board_scrap where user_id = #{userId} and board_id = #{boardId}
	</select>
	
	<resultMap type="BoardScrap" id="boardLikeResultSet">
		<id column="USER_ID" property="userId"/>
		<id column="BOARD_ID" property="boardId"/>
	</resultMap>
	
	<insert id="boardScrap">
		insert into board_scrap values(#{userId}, #{boardId})
	</insert>
	
	<delete id="deleteScrap">
		delete from board_scrap where user_id = #{userId} and board_id = #{boardId}
	</delete>
	
	<delete id="deleteReply">
		delete from reply where reply_id = #{replyId}
	</delete>
	
	<update id="updateReply">
		update reply set reply_content = #{replyContent} where reply_id = #{replyId}
	</update>
</mapper>