<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="freeMapper">
	
		<resultMap type="Board" id="freeResultSet">
		<id column="BOARD_ID" property="boardId"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="USER_ID" property="userId"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="IS_NOTICE" property="isNotice"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	
  	
  	<select id="selectBoardList" resultMap="freeResultSet">
  		select *
  		from board
  		where IS_NOTICE = 'N'
  		  and STATUS = 'Y'
  		  and BOARD_CODE = 1
  		  order by board_id desc
  	</select>
  	
  	<select id="getListCount" resultType="_int">
  		select count(*)
  		from board
  		where board_code = 1 and STATUS = 'Y'
  	</select>
  	
  	<insert id="insertBoard">
  		
		insert into board values(seq_bid.nextval, 1, #{boardTitle}, #{boardContent}, #{userId},
													sysdate, default, default, default, default)
  	</insert>
  	
  	<update id="addCount">
  		update board
  		set board_count = board_count + 1
  		where  BOARD_ID = #{bId}
  	</update>
  	
  	<select id="selectBoard" resultMap="freeResultSet">
  		select *
  		from board 
  		where status ='Y' and BOARD_ID = #{bId}
  	</select>
  	
  	 <select id="selectNoticeList" resultMap="freeResultSet">
  	 <![CDATA[
  	        select *
  	from board
  	where IS_NOTICE = 'Y'
  		  and STATUS = 'Y'
  		  and BOARD_CODE = 1
  		  and rownum <= 3 
  		  order by  board_id desc  
  		 ]]>
  	</select>
  	
  	<select id="selectBoard5" resultMap="freeResultSet">
  	 <![CDATA[
  	        select *
  	from board
  	where IS_NOTICE = 'N'
  		  and STATUS = 'Y'
  		  and BOARD_CODE = 1
  		  and rownum <= 5 
  		  order by  BOARD_COUNT desc 
  		 ]]>
  	</select>
  	
  	<select id="selectBoardM" resultMap="freeResultSet">
  	 <![CDATA[
  	        select *
  	from board
  	where IS_NOTICE = 'N'
  		  and STATUS = 'Y'
  		  and BOARD_CODE = 4
  		  and rownum <= 5 
  		  order by  BOARD_COUNT desc 
  		 ]]>
  	</select>
  </mapper>