<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<!--  로그인  -->
  <select id="login" resultMap="memberResultSet">
  	select *
  	from member
  	where user_id=#{id}
  		  and STATUS = 'Y'
  	</select>
  	<resultMap type="Member" id="memberResultSet">
  		<id column="USER_ID" property="id"/>
  		<result column="USER_NAME" property="name"/>
  		<result column="PASSWORD" property="pwd"/>
  		<result column="NICKNAME" property="nickName"/>
  		<result column="EMAIL" property="email"/>
  		<result column="PHONE" property="phone"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="GENDER" property="gender"/>
  		<result column="BIRTHDATE" property="birthDate"/>
  		<result column="STATUS" property="status"/>
  		<result column="IS_MANAGER" property="isManager"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="USER_RATE" property="rate"/>
  	</resultMap>
  	
  	
		<resultMap type="Board" id="freeResultSet">
		<id column="BOARD_ID" property="boardId"/>
		<result column="BOARD_CODE" property="boardCode"/>
		<result column="BOARD_TITLE" property="boardTitle"/>
		<result column="BOARD_CONTENT" property="boardContent"/>
		<result column="USER_ID" property="userId"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="IS_NOTICE" property="isNotice"/>
		<result column="BOARD_COUNT" property="boardCount"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
  	
  	<insert id="insertMember">
  	insert into member
  	values(#{id}, #{name}, #{pwd}, #{nickName}, #{email}, #{phone}, #{address},#{gender}, #{birthDate}, default, default, sysdate, default)
  </insert>
  <select id="checkNickName" resultType="_int">
  	select count(*)
  	from member
  	where nickName=#{nickName}
  		 
  	</select>
  	
  	<select id="checkId" resultType="_int">
  	select count(*)
  	from member
  	where USER_ID=#{id}
  		 
  	</select>
  	<update id="updateMember">
  		update member
  		set PASSWORD=#{pwd} , NICKNAME=#{nickName}, phone=#{phone}, address=#{address}
  		WHERE USER_ID = #{id}
  	</update>
  	
  	<select id="selectMyList" resultType="map">
  	select b.BOARD_ID, BOARD_TITLE, CREATE_DATE, BOARD_COUNT
		from BOARD_SCRAP b
		    join board A on b.BOARD_ID = a.BOARD_ID
		    join member m on b.USER_ID = m.USER_ID
		where m.USER_ID = #{id}
		order by b.BOARD_ID DESC
  	
  	
  	</select>
  	
  	<select id="findEmail" resultType="String">
  		select user_id
  			from member
  			where email = #{email} 
  	</select>
  	
  	<select id="findPwd" resultType="String">
  		select user_id
  			from member
  			where email = #{email} and USER_ID=#{id}
  	</select>
  	
  	<update id="changePwd">
  		update member
  		set PASSWORD=#{pwd}
  		WHERE USER_ID = #{id}
  	</update>
  	
  	<select id="myInfoBoard" resultMap="freeResultSet">
  		select *
  		from board
  		where user_id = #{id}
  	
  	
  	</select>
  	<resultMap type="Reply" id="replyResultSet">
		<id column="REPLY_ID" property="replyId"/>
		<result column="REPLY_CONTENT" property="replyContent"/>
		<result column="CREATE_DATE" property="createDate"/>
		<result column="STATUS" property="status"/>
		<result column="USER_ID" property="userId"/>
		<result column="BOARD_ID" property="boardId"/>
		<result column="NICKNAME" property="nickName"/>
	</resultMap>
  	<select id="myInfoDoard" resultMap="replyResultSet">
  		select *
  		from reply
  		where user_id = #{id}
  	
  	</select>
  </mapper>